<div class="container mt-5 p-3 w-100">
  <div class="mb-3">
    <h3> Welcome to The Real BlockBuster</h3>
  </div>
  <hr>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>
    <div class="d-flex justify-content-center">
      <div class="form-control shadow" style="width: 300px" placeholder="Smaller input">
        <h1 class="text-center">Sign up</h5>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "first_name" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <div class="row d-flex justify-content-center">
          <div class="row form-actions">
              <%= f.button :submit, "Sign up", class:"btn btn-success mt-3"%>
          </div>
          <div class="row">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>

    <% end %>
    </div>

</div>
