<div class="container w-50 bg-white mb-5 mt-5 p-4">
  <h2 class="text-center">Update your VHS Rental</h2>
  <p class="text-center">Please, fill this form with your movie info</p>
  <%= simple_form_for @movie do |f|%>
    <%= f.input :title %>
    <%= f.label :price %>
    <div class="input-group">
      <h4 class="40px align-text-center">$3 x Day</h4>
    </div>
    <%= f.input :director %>
    <%= f.label :synopsis, "Synopsis", class:"mt-1" %>
    <%= f.text_area :synopsis, rows: 5, class:"w-100", style: "resize: none;" %>
    <%= f.label :year, "YEAR", class:"mt-1" %>
    <%= f.select :year, options_for_select((1950..Time.zone.now.year).map { |year| year }, @movie.year), {}, class:'form-control' %>
    <%= f.label :Genres, "GENRES:", class:"mt-3" %>
    <%= f.select :genre, Movie::GENRES %>
    <%= f.label :poster_url, "Upload a Movie picture", class:"mt-4" %>
    <%= f.input :poster_url, as: :file, class:'form-control', class:"p-4" %>
    <%= f.submit %>
  <% end %>
</div>
