<div class = "container mt-4">
  <div class = "d-flex">
    <div class = "col-6">
      <h3>Movies</h3>
      <%= link_to "Create Your Rental", new_movie_path(@movie), class:"btn btn-primary"%>
    </div>
      <div class="col-6 text-end">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: movies_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search a movie!"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% if @movies.any? %>
      <% @movies.each do |movie| %>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <%= link_to movie_path(movie), class:"text-decoration-none" do %>
            <% if movie.poster_url.attached? %>
              <div class="card-category position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path movie.poster_url.key %>)">
            <% else %>
              <div class="card-category position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path 'sinimagen.jpg' %>)">
            <% end %>
              <div class="d-flex flex-column h-100 text-white">
                <div class="align-self-center m-auto">
                  <h2 class=""><%= movie.title%></h2>
                </div>
                <div class="align-self-center">
                  <h3 class=""><%= movie.year %></h3>
                </div>
              </div>
            <div class="avatar-container position-absolute bottom-0 end-0">
              <% if movie.user && movie.user.avatar.attached?%>
                  <%= image_tag movie.user.avatar, class:"avatar" %>
              <% else %>
                <%= image_tag "sinimagen.jpg", class:"avatar" %>
              <% end %>
            </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <em>Sorry, no movies found.</em>
    <% end %>
  </div>
</div>
