<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @movie.poster_url.key %>);">
  <div class="container">
    <div class="row">
      <div class="font-color" class="col-6">
        <h2><%= @movie.title %></h2>
        <p>Directed by  <%= @movie.director %></p>
        <p>Genre: <%= @movie.genre %></p>
        <p>Year: <%= @movie.year %></p>
        </div>
      <div class="font-color" class="col-6">
        <h5>Synopsis</h5>
        <p><%= @movie.synopsis %></p>
        <% if current_user %>
          <% if current_user.id == @movie.user_id %>
          <% else %>
            <%= link_to "RENT else", new_movie_rental_path(@movie), class:"btn btn-success lg"%>
          <% end %>
        <% else %>
           <%= link_to "RENT else", new_movie_rental_path(@movie), class:"btn btn-success lg"%>
        <% end %>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>



<%# background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @movie.image_url %>
