<h1>My profile</h1>
<%= link_to 'Back to movies', movies_path, class:'btn btn-primary mb-4 '%>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="container">
        <h1>My rentals</h1>
        <% @user.rentals.each do |rental| %>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="<%= cl_image_path rental.movie.poster_url.key %>" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= rental.movie.title %></h5>
                <p class="card-text">Cost: $<%= rental.movie.price %></p>
                <p class="card-text">From:<%= rental.rent_date %></p>
                <p class="card-text">To:<%= rental.return_date %></p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col">
  </div>
</div>
<%= link_to 'Back to movies', movies_path, class:'btn btn-primary mb-4 '%>
