<h1>this is rentals#new</h1>
<p>Find me in app/views/rentals/new.html.erb</p>

<div class="container w-50 shadow bg-white mt-5 p-3">
  <%= simple_form_for [@movie, @rental] do |f| %>
    <%= @movie.title %>
    <%= @movie.poster_url %>
    <%= f.input :rent_date, order: [:day, :month, :year] %>
    <%= f.input :return_date, order: [:day, :month, :year]  %>
    <%# <%= f.association :f.title %>
    <%= f.submit class:'btn btn-primary mb-4 ' %> <%= link_to 'Back', movie_path(@movie), class:"btn btn-warning mb-4" %>
  <% end %>
</div>
