<div class="container w-50 shadow bg-white mt-5 p-3 mb-5">
  <h1>Rent</h1>
  <div class="d-flex justify-content-center">
    <div class="card w-75" style="width: 18rem;">
      <img src="<%= cl_image_path @rental.movie.poster_url.key %>" class="img-fluid rounded-start" alt="...">
      <div class="card-body">
        <h1><%= @rental.movie.title %></h1>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item"><h2>Rent Day: <%= @rental.rent_date %> </h2></li>
        <li class="list-group-item"><h2>Return Day: <%= @rental.return_date %> </h2></li>
        <li class="list-group-item"><h2>Total price: $<%= @rental.days_rented * @rental.movie.price%>  </h2></li>

      </ul>

    </div>
  </div>
    <div class="d-flex justify-content-between mt-3">
    <div style="margin-right: 10px">
      <%= link_to 'My rentals', user_path(current_user), class:"btn btn-secondary" %>
    </div>
    <div class="">
      <%= link_to 'continue renting', movies_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>
